In [1]:
from harpy import (
    Session,
    MapTask,
    ReduceTask,
    TransformTask,
    Result,
    TaskSetResults
)

session = Session().create_session()

In [2]:
path = "/home/ghhwer/project-quack/backend/client-engine/_example_data/Flights_1m.parquet"
result = session.sql(f"SELECT * FROM read_parquet('{path}')")

TaskSet ts-89068203-32dc-496c-82c7-e934d360a1df: running
TaskGroup tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816 made progress
TaskGroup tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816 made progress
Task tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816-tr-0: queued
TaskGroup tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816 made progress
Task tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816-tr-0: running
Task tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816-tr-0: done
TaskGroup tg-794c4fa1-01b9-4dcc-9040-fc144b4b5816 made progress
TaskSet ts-89068203-32dc-496c-82c7-e934d360a1df: compleated
Getting results

In [3]:
result

,FL_DATE,DEP_DELAY,ARR_DELAY,AIR_TIME,DISTANCE,DEP_TIME,ARR_TIME
0,2006-01-01,5,19,350,2475,9.083333,12.483334
1,2006-01-02,167,216,343,2475,11.783334,15.766666
2,2006-01-03,-7,-2,344,2475,8.883333,12.133333
3,2006-01-04,-5,-13,331,2475,8.916667,11.950000
4,2006-01-05,-3,-17,321,2475,8.950000,11.883333
...,...,...,...,...,...,...,...
999995,2006-02-20,87,86,71,545,19.733334,21.333334
999996,2006-02-20,-2,0,71,508,8.050000,9.583333
999997,2006-02-20,33,19,64,508,14.700000,15.983334
999998,2006-02-20,65,54,65,508,17.633333,18.983334
999999,2006-02-20,141,135,70,508,1.183333,2.616667

In [4]:
result = session.sql(f"SELECT max(FL_DATE) FROM read_parquet('{path}')")

TaskSet ts-ef042426-64cd-4dd8-a98c-f33806d3663f: running
TaskGroup tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20 made progress
TaskGroup tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20 made progress
Task tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20-tr-0: queued
TaskGroup tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20 made progress
Task tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20-tr-0: running
Task tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20-tr-0: done
TaskGroup tg-bdd4ed3f-0e03-4c95-bf73-20d87d726b20 made progress
TaskSet ts-ef042426-64cd-4dd8-a98c-f33806d3663f: compleated
Getting results

In [5]:
result

  max(FL_DATE)
0   2006-02-28

In [6]:
session.close()